<div>
    <h4>Scrum</h4>
    <ul>
        <li>
            <b class="sub">General:</b>
            <a title="a1_1">history</a>
            <a title="a1_2">importance</a>
            <a title="a1_3">other tools</a>
        </li>
        <li>
            <b class="sub">Beans:</b>
            <a title="a2_1" class="label-danger">lifecycle</a>
        </li>
    </ul>

    <div class="hidden">
        <div id="a1_1">
            <b>Scrum invented</b> - early 1990s<br/>
            <b>Scrum Guide first version</b> - 2010
        </div>
        <div id="a1_2">
            <b>Each element</b> of the framework serves a specific purpose that is essential to the overall value
            and results realized with Scrum.<p/>
            Changing the core design or ideas of Scrum, leaving out elements, or not following the rules of Scrum,
            covers up problems and limits the benefits of Scrum, potentially even rendering it useless.
        </div>
        <div id="a1_3">
            As Scrum is being used, patterns, processes, and insights that fit the Scrum framework as described
            in this document, may be found, applied and devised. Their description is beyond the purpose of the
            Scrum Guide because they are context sensitive and differ widely between Scrum uses. Such tactics for
            using within the Scrum framework vary widely and are described elsewhere.
        </div>
    </div>

    <div class="hidden">
        <div id="a2_1">
            <ul>
                <li>Load Bean definitions
                    <ul>
                        <li>Bean Definitions are loaded</li>
                        <li>Bean Definitions are processed</li>
                    </ul>
                </li>
                <li>Create Beans
                    <ul>
                        <li>constructor call</li>
                        <li>setter call</li>
                        <li>postprocessor “init” methods call</li>
                    </ul>
                </li>
                <li>Beans are ready and being used</li>
                <li>Beans are destroyed
                    <ul>
                        <li>destroy method call</li>
                        <li>handing over to garbage collector</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
